.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
gradlew.bat
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
build.gradle
.idea/
settings.gradle
cfg.zip
cfg/ini/style_old.xml
